@import "@styles/mixin.module.scss";

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.radio_circle {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: var(--greyDark);
  margin-right: 8px;
  transition: all 0.1s ease-in-out;
  @include inward-inner-shodow-shallower(var(--greyDark-dark), var(--plain));
  &.slim {
    width: 10px;
    height: 10px;
  }
  &.checked {
    background-color: var(--primary);
    @include inward-inner-shodow-shallower(
      var(--deep-primary-dark),
      var(--primary-light)
    );
    &.sub {
      opacity: 0.4;
    }
    &.animate {
      animation-name: opacity-animation;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
  &.no_content {
    margin-right: 0;
  }
}
