$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
  inset -0.2rem -0.2rem 0.5rem var(--white);

.radio {
  font-size: 16px;
  padding: 10px 20px 10px 15px;
  border-radius: 20px;
  box-shadow: $shadow;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  background-color: var(--greyLight-1);
  transition: all 0.15s ease-in-out;
  font-weight: 500;
  font-family: var(--font-sans-serif);
  color: var(--greyDark);
  transition: all 0.1s ease-in-out;
}
.radio.checked {
  color: var(--primary-dark);
  box-shadow: $inner-shadow;
}

.radio_circle {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: var(--greyDark);
  margin-right: 8px;
  transition: all 0.1s ease-in-out;
}
.radio_circle.checked {
  background-color: var(--primary-dark);
}
