.flat {
  padding: 0.5em 1em;
  font-family: var(--font-sans-serif);
  border: none;
  background-color: var(--plain);
  box-shadow: none;
  border-radius: 0.65rem;
  cursor: pointer;

  &.appearance_setting {
    background-color: transparent;
    fill: var(--appearance-color);
    border: solid 2px var(--appearance-color);
    transition: all 0.15s ease-in-out;
    &:hover {
      fill: var(--appearance-color-dark);
      border: solid 2px var(--appearance-color-dark);
    }
  }
}

.login {
  color: var(--plain-opposite);
  font-weight: 600;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  border: solid 1.5px transparent;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: solid 1.5px var(--plain-opposite);
  }
}
