.cell,
.cell_marked,
.cell_blocked,
.cell_in_path {
  margin: 0.5px;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.cell {
  background-color: white;
  border: solid 0.5px lightgray;
}
.cell:hover {
  background-color: #eeeeee;
}
.cell:active {
  background-color: #cccccc;
}

.cell_marked {
  background-color: #b6d0e2;
  border: solid 0.5px #b6d0e2;
}
.cell_in_path {
  background-color: #2ebb98;
  border: solid 0.5px #2ebb98;
}

.cell_blocked {
  background-color: var(--navy-color);
  border: solid 0.5px var(--navy-color);
}
