.root {
  padding: 24px;
}
.horizontallyAligned,
.mobileHorizontallyAligned {
  display: flex;
  align-items: center;
}
.code {
  font-family: var(--font-code);
  font-weight: 700;
}

@media (max-width: 960px) {
  .root {
    padding: 16px;
  }
  .mobileHorizontallyAligned {
    display: unset;
    align-items: unset;
  }
}

$greyLight1: #e6e7ed;
$greyLight2: #9c9da1;
$greyLight3: #6a6b6d;

:export {
  greyLigh1: $greyLight1;
  greyLight2: $greyLight2;
  greyLight3: $greyLight3;
}
