.root {
  padding: 24px;
}
.horizontallyAligned,
.mobileHorizontallyAligned {
  display: flex;
  align-items: center;
}
.code {
  font-family: var(--font-code);
  font-weight: 700;
}

@media (max-width: 960px) {
  .root {
    padding: 16px;
  }
  .mobileHorizontallyAligned {
    display: unset;
    align-items: unset;
  }
}

.typewriter {
  height: min(12vw, 80px);
  width: 2px;
  background-color: var(--navy-color);
  animation-name: blink;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$greyLight1: #e6e7ed;
$greyLight2: #9c9da1;
$greyLight3: #6a6b6d;

:export {
  greyLigh1: $greyLight1;
  greyLight2: $greyLight2;
  greyLight3: $greyLight3;
}
