.root {
  padding: 1.5rem;
}
.horizontallyAligned,
.mobileHorizontallyAligned {
  display: flex;
  align-items: center;
}
.code {
  font-family: var(--font-code);
  font-weight: 700;
}

@media (max-width: 960px) {
  .root {
    padding: 1rem 1.5rem;
  }
  .mobileHorizontallyAligned {
    display: unset;
    align-items: unset;
  }
}

.typewriter {
  height: min(12vw, 80px);
  width: 2px;
  background-color: var(--plain-opposite);
  animation-name: blink;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.triangle {
  border-left: 75vw solid transparent;
  border-right: 75vw solid transparent;
  border-top: min(35vw, 18rem) solid var(--plain-semi-dark);
  z-index: -100;
  position: absolute;
  top: -0.175px;
  margin-top: max(-30vw, -6rem);

  @media (max-width: 860px) {
    border-left: 75vw solid transparent;
    border-right: 75vw solid transparent;
    border-top: min(30vw, 15rem) solid var(--plain-semi-dark);
    margin-top: max(-20vw, -3.5rem);
  }

  @media (max-width: 520px) {
    border-left: 55vw solid transparent;
    border-right: 55vw solid transparent;
    border-top: min(30vw, 15rem) solid var(--plain-semi-dark);
    margin-top: 0;
  }
}

.top_bg {
  position: absolute;
  height: min(50vw, 10rem);
  width: 100%;
  background-color: var(--plain-semi-dark);
  z-index: -100;
}

.mobile_friendly_flex {
  display: flex;
  flex-direction: column;
  @media (max-width: 520px) {
    flex-direction: column-reverse;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Personal projects
.gradient {
  background: linear-gradient(-45deg, #e1468c, #726cf8);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

$navy: #00265b;
$deep-navy: #000f23;
$greyLight1: #e6e7ed;
$greyLight2: #9c9da1;
$greyLight3: #6a6b6d;

:export {
  navy: $navy;
  deepNavy: $deep-navy;
  greyLight1: $greyLight1;
  greyLight2: $greyLight2;
  greyLight3: $greyLight3;
  iconLight: #07f9ff;
  icon: #1a96e9;
}
