// Neumorphic box shadows
@mixin neumorphic-shadow {
  box-shadow: 0.2rem 0.2rem 0.4rem var(--plain-dark),
    -0.2rem -0.2rem 0.5rem var(--plain-light);
}
@mixin neumorphic-inner-shadow {
  box-shadow: inset 0.1rem 0.1rem 0.3rem var(--plain-dark),
    inset -0.1rem -0.1rem 0.3rem var(--plain-light);
}
@mixin neumorphic-shadow-reversed {
  box-shadow: 0.2rem 0.2rem 0.4rem var(--plain-light),
    -0.2rem -0.2rem 0.5rem var(--plain-dark);
}

// Colored shadows
@mixin colored-shadow($top-left-color, $bottom-right-color) {
  box-shadow: 0.2rem 0.2rem 0.4rem $bottom-right-color,
    -0.2rem -0.2rem 0.5rem $top-left-color;
}
@mixin inward-shodow($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.2rem 0.2rem 1rem $top-left-color,
    inset -0.2rem -0.2rem 1rem $bottom-right-color;
}
@mixin inward-inner-shodow($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.2rem 0.2rem 0.5rem $top-left-color,
    inset -0.2rem -0.2rem 0.5rem $bottom-right-color;
}

// Shallow shadows
@mixin inward-shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.15rem 0.15rem 0.75rem $top-left-color,
    inset -0.15rem -0.15rem 0.75rem $bottom-right-color;
}
@mixin inward-inner-shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.1rem 0.1rem 0.3rem $top-left-color,
    inset -0.1rem -0.1rem 0.3rem $bottom-right-color;
}
@mixin shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: 0.08rem 0.08rem 0.2rem $bottom-right-color,
    -0.1rem -0.1rem 0.3rem $top-left-color;
}
