// Neumorphic box shadows
@mixin neumorphic-shadow {
  box-shadow: 0.2rem 0.2rem 0.4rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}
@mixin neumorphic-inner-shadow {
  box-shadow: inset 0.1rem 0.1rem 0.3rem var(--greyLight-2),
    inset -0.1rem -0.1rem 0.3rem var(--white);
}

@mixin inward-shodow($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.2rem 0.2rem 1rem $top-left-color,
    inset -0.2rem -0.2rem 1rem $bottom-right-color;
}
@mixin inward-inner-shodow($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.2rem 0.2rem 0.5rem $top-left-color,
    inset -0.2rem -0.2rem 0.5rem $bottom-right-color;
}

@mixin inward-shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.15rem 0.15rem 0.75rem $top-left-color,
    inset -0.15rem -0.15rem 0.75rem $bottom-right-color;
}
@mixin inward-inner-shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: inset 0.1rem 0.1rem 0.3rem $top-left-color,
    inset -0.1rem -0.1rem 0.3rem $bottom-right-color;
}
@mixin shodow-shallower($top-left-color, $bottom-right-color) {
  box-shadow: 0.08rem 0.08rem 0.2rem $bottom-right-color,
    -0.1rem -0.1rem 0.3rem $top-left-color;
}
