@import "@styles/mixin.module.scss";

$navy: #00265b;
$primary: #6d5dfc;
$primaryDark: #5b0eeb;

.root {
  @include neumorphic-shadow;
  padding: 16px 24px;
  border-radius: 15px;
  justify-self: center;
  transition: 0.3s ease;
  border: none;
  background-color: var(--greyLight-1);
  transition: all 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font-sans-serif);
  color: var(--navy-color);
  fill: var(--navy-color);

  &.down {
    @include neumorphic-inner-shadow;
  }

  // PARAGRAPH
  &.paragraph {
    color: var(--navy-color);
    user-select: text;
    -webkit-user-select: text;
    &:hover,
    &:active {
      color: var(--navy-color);
      @include neumorphic-shadow;
    }
  }

  // BUTTON
  &.button {
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    fill: var(--primary);
    &.primary {
      padding: 12px 24px;
      background: var(--primary);
      box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
        inset -0.2rem -0.2rem 1rem var(--primary-dark);
      color: var(--greyLight-1);
      fill: var(--greyLight-1);

      &:hover {
        color: var(--white);
        fill: var(--white);
      }
      &:active {
        @include primary-inner-shadow;
      }
    }
    &.secondary {
      @include secondary-shadow;
      padding: 12px 24px;
      background: var(--secondary);
      color: var(--greyLight-1);
      fill: var(--greyLight-1);

      &:hover {
        color: var(--white);
        fill: var(--white);
      }
      &:active {
        @include secondary-inner-shadow;
      }
    }

    &:hover {
      color: var(--primary-dark);
      fill: var(--primary-dark);
    }
    &:active {
      @include neumorphic-inner-shadow;
    }
  }

  // RADIO
  &.radio {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    fill: var(--primary);
    &.slim {
      font-size: 12px;
      padding: 6px 12px 6px 9px;
      @include neumorphic-shadow;
      &.checked {
        color: var(--primary-dark);
        @include neumorphic-inner-shadow;
      }
    }
    &.checked {
      color: var(--primary-dark);
      @include neumorphic-inner-shadow;
    }
    &.no_content {
      padding: 8px;
    }
  }

  // LINE
  &.line {
    width: 5px;
    margin: 5px auto;
    padding: 0px;
    background-color: var(--primary);
    box-shadow: inset 1.5px 1.5px 4.5px var(--primary-dark),
      inset -1.5px -1.5px 4.5px var(--primary-light);
    &.animate {
      animation-name: opacity-animation;
      animation-name: opacity-animation;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:hover,
    &:active {
      box-shadow: inset 1.5px 1.5px 4.5px var(--primary-dark),
        inset -1.5px -1.5px 4.5px var(--primary-light);
      background-color: var(--primary);
    }
  }

  // CHECKBOX
  &.checkbox {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.checked {
      background-color: var(--primary);
      @include primary-inner-shadow;
    }
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

:export {
  navy: $navy;
  primary: $primary;
  primaryDark: $primaryDark;
}
