@import "@styles/mixin.module.scss";

$navy: #00265b;
$primary: #6d5dfc;
$primaryDark: #5b0eeb;

.root {
  @include neumorphic-shadow;
  padding: 16px 24px;
  border-radius: 0.65rem;
  justify-self: center;
  border: none;
  background-color: var(--plain);
  transition: all 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font-sans-serif);
  color: var(--plain-opposite);
  fill: var(--plain-opposite);

  &.down {
    @include neumorphic-inner-shadow;
  }

  // CHIP
  &.chip {
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 14px 20px;
    color: var(--primary-dark);
    fill: var(--primary-dark);
  }

  // PARAGRAPH
  &.paragraph {
    color: var(--navy-color);
    user-select: text;
    -webkit-user-select: text;
    &:hover,
    &:active {
      color: var(--navy-color);
      @include neumorphic-shadow;
    }
  }

  // BUTTON
  &.button {
    cursor: pointer;
    font-size: min(4vw, 18px);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-color);
    fill: var(--button-color);

    &.primary {
      @include inward-shodow(var(--primary-light), var(--primary-dark));
      padding: 12px 24px;
      background: var(--primary);
      color: var(--greyLight-1);
      fill: var(--greyLight-1);

      &:hover {
        color: var(--white);
        fill: var(--white);
      }
      &:active {
        @include inward-inner-shodow(var(--primary-dark), var(--primary-light));
      }
    }
    &.secondary {
      @include inward-shodow(var(--secondary-light), var(--secondary-dark));
      padding: 12px 24px;
      background: var(--secondary);
      color: var(--greyLight-1);
      fill: var(--greyLight-1);

      &:hover {
        color: var(--white);
        fill: var(--white);
      }
      &:active {
        @include inward-inner-shodow(
          var(--secondary-dark),
          var(--secondary-light)
        );
      }
    }

    &:hover {
      color: var(--button-color-hovered);
      fill: var(--button-color-hovered);
    }
    &:active {
      @include neumorphic-inner-shadow;
    }
  }

  // RADIO
  &.radio {
    cursor: pointer;
    padding: 10px 20px 10px 15px;
    font-size: min(4vw, 16px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--radio-inactive-text);
    fill: var(--radio-inactive-text);
    @media (max-width: 520px) {
      font-size: min(4vw, 15px);
    }
    &.slim {
      font-size: 12px;
      padding: 6px 12px 6px 9px;
      @include neumorphic-shadow;
      &.checked {
        color: var(--primary-dark);
        @include neumorphic-inner-shadow;
      }
    }
    &.checked {
      color: var(--radio-color);
      fill: var(--radio-color);
      @include neumorphic-inner-shadow;
    }
    &.no_content {
      padding: 8px;
    }
  }

  // LINE
  &.line {
    width: 5px;
    margin: 5px auto;
    padding: 0px;
    background-color: var(--radio-color);
    box-shadow: inset 1.5px 1.5px 4.5px var(--radio-color-dark),
      inset -1.5px -1.5px 4.5px var(--radio-color-light);
    &.animate {
      animation-name: opacity-animation;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  // CHECKBOX
  &.checkbox {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.checked {
      background-color: var(--primary);
      @include inward-inner-shodow(var(--primary-dark), var(--primary-light));
    }
  }

  // ACCORDION
  &.accordion {
    cursor: pointer;
    border-radius: 6px;
    padding: 12px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
  }

  &.icon {
    padding: 6px;
    @include shodow-shallower(var(--plain-light), var(--plain-dark));
    fill: var(--greyLight-3);
    @media (prefers-color-scheme: dark) {
      fill: var(--plain-opposite);
    }
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

:export {
  navy: $navy;
  primary: $primary;
  primaryDark: $primaryDark;
}
