.underline {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 11px;
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;
    bottom: 0;
    left: 0;
    margin-bottom: 2px;
    background-color: #50c878;
  }
}

.normal {
  font-size: max(min(4vw, 1rem), 0.85rem);
  font-weight: 400;
}
.smallest {
  font-size: max(min(4vw, 0.95rem), 0.75rem);
  font-weight: 300;
}
