@import "@styles/mixin.module.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.25);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  z-index: 5;
  pointer-events: auto;
  opacity: 1;
  // transform: scale(1);

  &.hidden {
    pointer-events: none;
    opacity: 0;
    // transform: scale(0);
  }
}

.modal_content {
  width: 90vw;
  max-width: 960px;
  max-height: 80vh;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 10px;
  padding: min(7.5vw, 32px);
  position: relative;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transform: scale(1);

  &.hidden {
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
  }
}
