.wrapper {
  width: 100%;
  background-color: var(--plain-semi-dark-transp);
  backdrop-filter: blur(8px);
  color: var(--plain);
  padding: 1.5em;
  user-select: none;
  -webkit-user-select: none;
  z-index: 3;

  @media (max-width: 520px) {
    display: flex;
    padding: 1.25em 1.5em;
  }
}

.wrapper_placeholder {
  background-color: var(--plain-semi-dark);
}

.icon_wrapper {
  width: min(4vw, 20px);
}

.logo_text {
  color: var(--logo-color);
  &.dark {
    color: var(--logo-color-dark);
  }
}
