.content {
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 0.35s ease-out;
  &.opened {
    opacity: 1;
    margin: 12px 0px;
  }
}

.switch_icon {
  transform: rotate(45deg);
  transition: all 0.35s ease-in-out;
  &.opened {
    transform: rotate(180deg);
  }
}
