.profile_image {
  width: min(25vw, 126px);
  height: min(25vw, 126px);
  border-radius: min(3vw, 15px);
}

.profile_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -70px;
  right: 0px;

  @media (max-width: 820px) {
    top: -70px;
    right: -10px;
  }
  @media (max-width: 520px) {
    top: max(-20vw, -70px);
    right: 10px;
  }
}

.profile_description_wrapper {
  max-width: 650px;
  margin: 20px 0px 50px 0px;

  @media (max-width: 520px) {
    margin-top: 10px;
  }
}

.profile_description_float {
  float: right;
  width: 80px;
  height: 30px;

  @media (max-width: 820px) {
    width: 126px;
  }
  @media (max-width: 520px) {
    width: min(30vw, 126);
    height: min(15vw, 30px);
  }
}
