@import "@styles/mixin.module.scss";

.profile_image {
  width: min(25vw, 126px);
  height: min(25vw, 126px);
  border-radius: min(3vw, 15px);
}

.profile_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7em;
  right: -10px;
  width: 100%;

  @media (max-width: 520px) {
    top: -5.5em;
  }
  @media (max-width: 400px) {
    top: -4em;
    right: -5px;
  }
  @media (max-width: 280px) {
    top: -2.5em;
    right: -10px;
  }
}

.profile_description_wrapper {
  max-width: 650px;
  margin: 20px 0px 50px 0px;

  @media (max-width: 520px) {
    margin-top: 10px;
  }
}

.profile_description_float {
  float: right;
  width: 30%;
  height: 3em;
  position: relative;
  @media (max-width: 400px) {
    width: 40%;
  }
}

// Personal projects
.gradient {
  background: linear-gradient(
    -45deg,
    var(--deep-navy),
    var(--navy-color),
    #003070
  );
  background-size: 100% 100%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
