@import "@styles/mixin.module.scss";

.barblock {
  position: relative;
}

.bar_wrapper {
  position: absolute;
}

.bar {
  &.swap {
    color: var(--white);
    background-color: var(--primary);
    @include inward-shodow(var(--primary-light), var(--primary-dark));
  }
  &.done {
    color: var(--white);
    background-color: var(--green);
    @include inward-shodow(var(--green-light), var(--green-dark));
  }
  &.focus {
    color: var(--white);
    background-color: var(--secondary);
    @include inward-shodow(var(--secondary-light), var(--secondary-dark));
  }
  &.compare {
    color: var(--white);
    background-color: var(--primary);
    @include inward-shodow(var(--primary-light), var(--primary-dark));
  }
}

.line {
  height: 6px;
  border-radius: 10px;
  background-color: var(--greyLight-2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.visible {
    opacity: 1;
  }
}

.checkmark {
  content: "";
  border-left: 2.5px solid var(--green);
  border-bottom: 2.5px solid var(--green);
  transform: rotate(-45deg);
  visibility: visible;
  width: 15px;
  height: 7.5px;
  margin: 0px 0px 5px 0px;
  opacity: 0;

  animation-name: disappearing;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes disappearing {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
