@import "@styles/mixin.module.scss";

.cell {
  margin: 0.5px;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  cursor: pointer;
  background-color: var(--plain-light);
  border: solid 0.5px var(--plain);

  &:hover {
    background-color: var(--cell-default-hovered);
  }
  &:active {
    background-color: var(--cell-default-active);
  }
  &.Unhoverable {
    &:hover,
    &:active {
      background-color: var(--plain-light);
    }
  }

  &.Visited {
    background-color: var(--cell-visited);
    border: solid 0.5px var(--cell-visited-border);
  }

  &.Path {
    background-color: var(--cell-path);
    border: solid 0.5px var(--cell-path);
  }

  &.Blocked {
    background-color: var(--cell-empty);
    border: solid 0.5px var(--cell-empty);
  }

  &.Selected {
    background-color: #fcd3e3;
    border: solid 0.5px #fcd3e3;
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
    // transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    // transform: scale(1, 1);
  }
}
