@import "@styles/mixin.module.scss";

.cell {
  margin: 0.5px;
  // border-radius: 2px;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  cursor: pointer;
  background-color: var(--plain-light);
  border: solid 0.5px var(--plain);
  &:hover {
    background-color: #eeeeee;
  }
  &:active {
    background-color: #cccccc;
  }

  &.Visited {
    background-color: var(--cell-blue);
    border: solid 0.5px var(--cell-blue);
  }

  &.Path {
    background-color: #2ebb98;
    border: solid 0.5px #2ebb98;
  }

  &.Blocked {
    background-color: var(--plain-opposite-dark);
    border: solid 0.5px var(--plain-opposite-dark);
  }

  &.Selected {
    background-color: #fcd3e3;
    border: solid 0.5px #fcd3e3;
  }
}
