@import "@styles/mixin.module.scss";

.cell {
  margin: 0.5px;
  // border-radius: 2px;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  cursor: pointer;
  background-color: var(--plain-light);
  border: solid 0.5px var(--plain);
  &:hover {
    background-color: var(--cell-default-hovered);
  }
  &:active {
    background-color: var(--cell-default-active);
  }

  &.Visited {
    background-color: var(--cell-visited);
    border: solid 0.5px var(--cell-visited-border);
  }

  &.Path {
    background-color: var(--cell-path);
    border: solid 0.5px var(--cell-path);
  }

  &.Blocked {
    background-color: var(--cell-empty);
    border: solid 0.5px var(--cell-empty);
  }

  &.Selected {
    background-color: #fcd3e3;
    border: solid 0.5px #fcd3e3;
  }
}
