.triangle {
  border-left: 75vw solid transparent;
  border-right: 75vw solid transparent;
  border-top: min(35vw, 18rem) solid var(--deep-navy);
  z-index: -100;
  position: absolute;
  top: -0.175px;
  margin-top: max(-30vw, -6rem);

  @media (max-width: 860px) {
    border-left: 75vw solid transparent;
    border-right: 75vw solid transparent;
    border-top: min(30vw, 15rem) solid var(--deep-navy);
    margin-top: max(-20vw, -3.5rem);
  }

  @media (max-width: 520px) {
    border-left: 55vw solid transparent;
    border-right: 55vw solid transparent;
    border-top: min(30vw, 15rem) solid var(--deep-navy);
    margin-top: 0;
  }
}

.mobile_disappearing {
  @media (max-width: 265px) {
    color: transparent;
  }
}
