.header_row {
  background-color: var(--plain-semi-dark);
  color: var(--plain-opposite);
  padding: 0 2em min(5vw, 1.5em) 2em;
  margin-top: -0.1px;
}

.mobile_disappearing {
  color: var(--plain-opposite);
  @media (max-width: 265px) {
    color: transparent;
  }
}
