$checked-transition: all 0.1s ease-in-out;

.hidden_input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkmark {
  content: "";
  border-left: 2.5px solid var(--primary);
  border-bottom: 2.5px solid var(--primary);
  transform: rotate(-45deg);
  visibility: visible;
  width: 15px;
  height: 7.5px;
  margin: 0px 0px 5px 0px;
}
.checkmark.checked {
  border-left: 2.5px solid var(--white);
  border-bottom: 2.5px solid var(--white);
}
