.select {
  border: solid 1px var(--navy-color);
  font-family: var(--font-mono);
  outline: none;
  padding: 8px 16px;
  color: var(--navy-color);
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  appearance: none;
}

.selectButton {
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  padding: 8px 16px;
  font-size: 16px;
  background-color: none;
  border-radius: 5px;
  border: solid 1px var(--navy-color);
  transition: all 0.2s ease-in-out;
}
.selectButton:hover {
  background-color: #cedbec;
}
.selectButton .selectButtonText {
  font-family: var(--font-code);
  margin: 0px 8px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 520px) {
  .selectButton {
    padding: 6px 12px;
  }
}

.optionList {
  padding: 4px;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  position: absolute;
  min-width: 200px;
  box-shadow: 10px 14px 33px 7px rgba(100, 100, 100, 0.6);
  z-index: 1;
}

.option {
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 9px 12px;
  list-style-type: none;
}
.option:hover {
  background-color: #f0f0f0;
}
